*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background: #c3c3c3;
}

nav .menu{
    position: absolute;
    top: 1.2rem;
    left: 1.2rem;
    font-size: 32px;
    border: none;
    background: none;
    cursor: pointer;
}

nav .sidebar{
    background: #082938;
    position: absolute;
    top: 0;
    left: 0;
    width: 10rem;
    height: 100%;
    transform: translateX(-100%);
    transition: transform 0.4s ease;
}
.sidebar.showSidebar{
    transform: translateX(0);
}

.sidebar .heading{
    color: white;
    text-decoration: underline;
    text-align: center;
    padding: 1.7rem;
    background: #2d7191;
    font-size: 1.6rem;
}
.sidebar ul{
    margin: 1rem;
}
.sidebar ul li{
    list-style-type: none;
    padding: 0.5rem;
    transition: 0.2s;
}
.sidebar ul li:hover{
    background: #646464;
    border-radius:1rem ;
}
.sidebar ul li a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

.sidebar ul li a i{
    margin-right: 0.3rem;
}